root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yml]
indent_size = 2

[*.ts]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 4

[tslint.json]
indent_style = tab

